.row.background
  .col-xs-10.col-xs-offset-1.text-center
    -6.times do
      %br
    -3.times do
      %br.hidden-md.hidden-sm.hidden-lg
    %h1 Australia's Newest Car Sharing Community
    %p.lead.hidden-xs Connecting Drivers With People Who Need Rides
    %btn.btn.btn-primary Log In Via Facebook
    -5.times do
      %br


.row.dark-gray
  %br
  .col-xs-10.col-xs-offset-1.text-center
    .row
      %form.form
        .col-md-5
          %input.input-lg.form-control(type="text" placeholder="Origin")
        .col-md-5
          %input.input-lg.form-control(type="text" placeholder="Destination")
        .col-md-2
          %input.input-lg.form-control.btn.btn-success.btn-lg(type="submit" value="Search")
    %br
-3.times do
  %br


.row
  .col-xs-12.col-md-8.col-md-offset-2.bg-white.text-center
    .row
      .col-md-7.no-left-padding
        =image_tag '/carshare.jpeg', class: 'fill-div'
      .col-md-5
        %br.hidden-md.hidden-xs.hidden-sm
        %br.hidden-md.hidden-xs.hidden-sm
        %h3 Half The Cost of Travelling By Bus
        %p.lead Our drivers base their fares on 50% of the cheapest alternative method
        %a.btn.btn-success.text-center.btn-lg Go to Rides
        %br
        %br

.row
  %br
  .text-center
    %h1 Latest Rides
    %p.lead See Where Everyone's Going
.row
  .col-md-10.col-md-offset-1.col-xs-10.col-xs-offset-1.test
    -6.times do
      %br
%br
.row
  .col-md-10.col-md-offset-1.col-xs-10.col-xs-offset-1.test
    -6.times do
      %br

.row.hidden-xs
  %br
  .col-md-12.text-center
    %h1 How We Compare
    %p.lead Melbourne to Sydney
  %br
  .col-md-offset-2.col-md-8
    %table.bg-white.comparison.text-center
      %tr.dark-gray
        %th
          %td Price
          %td Luggage Space
          %td Pet Friendly
      %tr.bold.text-green
        %td Car Share
        %td $25
        %td Large
        %td Dependant on Driver
      %tr.gray
        %td Bus
        %td $60
        %td Large
        %td No
      %tr
        %td Flight
        %td $80
        %td Limited
        %td No
      %tr.gray
        %td Drive
        %td $110
        %td Large
        %td Yes
-3.times do
  %br
.row
  .col-xs-12.col-md-8.col-md-offset-2.bg-white
    .row
      .col-md-5.text-center
        %br.hidden-md.hidden-xs.hidden-sm
        %br.hidden-md.hidden-xs.hidden-sm
        %h1 The Social Way to Travel
        %p.lead Meet Locals and Make Friends as Go
        %a.btn.btn-danger.text-center.btn-lg Go to Rides
        %br
        %br
      .col-md-7.pull-right.no-right-padding
        =image_tag '/social2.jpeg', class: 'fill-div'
-4.times do
  %br


