.bg-green {
  background: #99D074;
}

.text-green {
  color: #99D074;
}

.bg-light-gray {
  background: #eaeaea;
}

.text-light-gray {
  color: #eaeaea;
}

.bg-dark-gray {
   
}

.text-dark-gray {
  
}

.bg-orange {
  background: #fc9b7a;
}

.text-orange {
  color:#fc9b7a !important;
}

.bg-blue {
  background: #51a1c4;
}

.text-blue {
  color: #51a1c4;
}

.bg-light-blue {
  background: #d4fefc;
}

.text-light-blue {
  color: #d4fefc;
}